.create{
	.createAccount{
		h1{
			@include titulo();
			font-size: 4em;
		}
		.input-field{
			input{
				color: $blanco;
			}
			label{
				color: $blanco;
			}
			.active{
				color: $blanco;
			}
			span{
				@include validacion();
			}
		}
		p{
			button{
				@include botones();
			}
		}
	}
}