
@mixin addButton(){
    width: 70px;
    height: 20px;
    padding-top: 2px;
    font-size: 7px;
    font-weight: 800;
    line-height: 1;
    padding: 3px 0;
    background: $rojoNetflix;
    margin-top: 6px;
    border-radius: 10px;
@mixin botones(){
	background-color: $blanco;
	color: $rojoNetflix;
	width: 95%;
}
@mixin titulo(){
	color: $blanco;
	font-family: 'Anton', sans-serif;
	font-weight: 700;
}
@mixin validacion(){
	color: $blanco;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 3px; 
}