*{
	margin: 0px;
	padding: 0px;
}
nav{
	background-color: #2b2c30 !important;
	padding: 4px 5px 10px 0px;
}
a {
	padding: 0px 18px;
}
.enlaces{
	font-size: 18px;
}
.lupa{
	font-size: 20px;
	color: white;
}
side-nav{
	padding-bottom: 20px;
}
