body{
	background-color: $rojoNetflix;
}
.welcome{
	.row{
		h1{
			@include titulo();
			font-size: 6em;
		}
		p{
			padding: 20px;
			button{
				@include botones();
			}
		}
	}
}
.logIn{
	display: none;
	.input-field{
		padding-bottom: 15px;
		input{
			color: $blanco;
		}
		label{
			color: $blanco;
		}
		.active{
			color: $blanco;
		}
		span{
			color: $blanco;
			font-weight: 700;
			background-color: rgba(0, 0, 0, 0.5);
			padding: 3px; 
		}
	}
	p{
		.btnLets{
		width: 30%;
		}
	}
}

.row{
	a{
		button{
			@include botones();
		}
	}
}
