body{
	background-color: $rojoNetflix;
	.welcome{
		.row{
			h1{
				color: $blanco;
				font-family: 'Anton', sans-serif;
				font-weight: 700;
				font-size: 6em;
			}
			p{
				padding: 20px;
				button{
					background-color: $blanco;
					color: $rojoNetflix;
					width: 95%;
				}
			}
		}
	}
}